.slick-dots {
    >li {
        >button {
            &::before {
                display: block;
                content: '' !important;
                width: 12px;
                height: 12px;
                background-color: #fff;
                border-radius: 50%;
                border: 3px solid #000;
            }
        }
    }
}
button.slick-arrow {
    width: 100px;
    display: block;
    z-index: 1;
    height: 50px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    &::before {
        color: var(--greenColor) !important;
    }
}
.slick-prev::before, .slick-next::before {
    font-size: 50px !important;
    color: #ccc !important;
   
}